body {
    height: 100vh;
    background: url("../../common/images/svgs/login-library.svg");
    background-color: #f0ead8;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main-overlay {
    position: absolute;
    margin-top: 75px;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 236, 224, 50%);
    padding: 60px 50px;
    z-index: 100;
  }
  
  form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input:not(input[type="submit"]) {
    border-bottom: 1px solid #3d2617;
    color: #3d2617;
    width: 300px !important;
  }
  
  ::placeholder {
    color: #3d2617;
  }
  
  input[type="submit"]{
      background-color: #3d2617;
      color: #f0ead8;
  }
  
  .main-container h4{
      margin-top: 25px;
      cursor: pointer;
      opacity: 0.7;
      transition: all 0.5s;
  }
  
  .main-container h4:hover{
      opacity: 1;
  }
    