header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    background: url("../images/svgs/library-icon.svg");
    width: 165px;
    height: 160px;
}

.logo-container h3 {
    position: absolute;
    left: 145px;
    bottom: 42px;
}

.voices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    position: relative;
}

/* .voices-container h3:hover  {
} */

.active-container {
    background: url("../images/svgs/active.svg");
    position: absolute;
    width: 167px;
    height: 176.5px;
    z-index: -1;
    top: -76px;
}

.active-home {
    left: -53px;
}

.active-prenote {
    left: 145px;
}

.active-libraries {
    right: 184px;
}

.active-login {
    right: -49px;
}