.search-bar-section {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.filter {
    margin-left: 40px;
    width: 900px;
    padding: 10px 80px 10px 20px;
    height: 60px;
    background-color: #F8F6EF;
    outline: 0;
    border: none;
    font-size: 30px;
    border-radius: 10px;
}

::placeholder{
    color: #3D2617;
}

.submit-btn{
    border-radius: 10px;
    background-color: #3D2617;
    color: #F8F6EF;
    font-size: 30px;
    height: 60px;
    width: 197px;
    cursor: pointer;
}